
*{
margin: 0;
padding: 0;
box-sizing: border-box;

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.form{
  background-color: rgb(238, 238, 238);
}
.formManulCss{
position: absolute;
width: 500px;
left: 50%;
top: 40%;
transform: translate(-50%,-40%);

background-color: rgba(255, 255, 255, 0.7);
}
.txtContent{
margin-top: 150px;


}
.bgcolor{

  background-color: transparent;
}